# Java template
*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ
/out/
*.iml
.idea/

# Eclipse #
.classpath
.project
.settings/
bin/

# Maven #
dependency-reduced-pom.xml
target/

# Gradle #
.gradle/

# logs #
*.log
logs/
