<div fxLayout="column" fxLayoutGap="40px" fxFlexAlign="space-around center">
  <div fxLayout="row" fxLayoutGap="40px" fxFlexAlign="space-around center">
    <div fxFlex="30">
      <app-client-list (selectClientEmitterToManagement)="selectedClientEvent($event)"></app-client-list>
    </div>
    <div fxFlex="70">
      <app-client-panel></app-client-panel>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="40px" fxFlexAlign="space-around center">
    <div fxFlex="100">
      <app-client-file-list></app-client-file-list>
    </div>
  </div>
</div>
