<mat-card>
  <mat-card-content>
    <div *ngIf="selectedClient else noConnectedClients">
      <div fxLayout="column" fxFlexAlign="space-around center" fxLayoutGap="20px">
        <div>
          <mat-card-title>
            {{selectedClient.clientName}} panel
          </mat-card-title>
        </div>
        <div>
          <mat-card-subtitle>
            Client IP address: {{selectedClient.clientIp}}
          </mat-card-subtitle>
        </div>
        <div fxLayout="row" fxFlexAlign="space-around center" fxLayoutGap="20px">
          <button mat-raised-button
                  (click)="onRegisterFile()">Register File
          </button>
          <button mat-raised-button
                  (click)="onDownloadByTorrent()">Download By Torrent file
          </button>
        </div>
      </div>
    </div>
    <ng-template #noConnectedClients>
      <app-loader [info]="'Waiting for choose client'"></app-loader>
    </ng-template>
  </mat-card-content>
</mat-card>
