<div fxLayout="column" fxFill>
  <mat-card (mouseover)="refreshList()"
            (mouseleave)="unlockRefresh()">
    <mat-card-content>
      <mat-card-subtitle>
        List of clients
      </mat-card-subtitle>
      <div *ngIf="connectedClients.length">
        <mat-selection-list #clients>
          <mat-list-option *ngFor="let client of connectedClients"
                           (click)="setSelectedClient(client)" checkboxPosition="before" selected disabled="true">
            <strong>{{client.clientName}}</strong> {{client.clientIp}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
